.main{
    padding: 20px;
    margin: 40px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    color: red;
    padding: 8px;
  
  }

  /* Style for table data cells */
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    
  }

